table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  background-color: var(--secondary-dark-color);
}

table th {
  font-weight: bold;
  text-align: left;
}

table th,
table td {
  padding: 0.5rem;
  border: 0.1rem solid var(--primary-light-color);
}
