:root {
  --primary-dark-color: #242424;
  --primary-light-color: rgba(255, 255, 255, 0.87);
  --secondary-dark-color: darkslategrey;
  --danger-color: lightcoral;
  --info-color: lightblue;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--primary-light-color);
  background-color: var(--primary-dark-color);
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  min-width: 20rem;
  min-height: 100vh;
}
